<mat-card>
    <a href="https://twitter.com/TlayoliStudio" target="_blank"><img src="assets/ui/veronica-not-found.png" matTooltip="Art by @TlayoliStudio (click)"/></a>

    <div class="card-float-right">
        <h2>404 - Page not Found</h2>
        <p>Uh oh, that page doesn't exist!</p>
        <p>If you think this is an issue - place a bug report or send a message on our <a href="#" target="_blank">discord</a>!</p>
        <button mat-raised-button routerLink="/" color="primary">Return to Home</button>
    </div>
</mat-card>