mat-card{
    height: auto;
    width: 800px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    a{
        width: auto;
        img{
            width: 400px;
            // float: left;
            border-right: 2px solid lightgrey;
            padding-right: 50px;
            margin-right: 20px;
        }
    }

    .card-float-right{
        overflow: auto;
        height: 100%;
        color: grey;
        // float: left;
        h2{
            color: grey;
            font-size: 2em;
            text-align: center;
        }

        p{
            width: 80%;
            margin: auto;
        }

        .mat-raised-button{
            margin: 0 auto;
            display: block;
            margin-top: 50px;
        }
    }
}

@media only screen and (max-width: 768px){
    mat-card{
        width: 450px;
        a{
            img{
                width: 240px;
                padding-right: 10px;
            }
        }
        .card-float-right{
            h2{
                font-size: 1.2em;
            }

            .mat-raised-button{
                margin-top: 20px;
            }
        }
    }
}