.map_container{
    margin: 0 auto;
    width: 90%;
    padding-left: 10%;
    position: relative;
    margin-bottom: 5px;
    p{
        position: absolute;
        line-height: 75px;
        top: 0;
        height: 75px;
        margin: 0;
        font-size: 25px;
        color: black;
        font-weight: bold;
        // -webkit-text-fill-color: white; /* Will override color (regardless of order) */
        // -webkit-text-stroke-width: .5px;
        // -webkit-text-stroke-color: black;
    }
    img{
        width: 100%;
    }
    img.checkmark{
        width: 20px;
        position: absolute;
        top: -2px;
        right: -2px;
    }
}

h2{
    margin: 5px;
}

#dialog_close{
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 24px;
    &:hover{
        background-color: lightgrey;
    }
}

::ng-deep mat-dialog-container{
    position: relative !important;
}