<div class="page_content">
    <div class="ar_builder_container" cdkDropListGroup>
        <div class="ar_builder_child_container">
            <mat-card>
                <mat-card-title>AR Defense Builder</mat-card-title>
                <hr />
                <p>Click/tap structures/heroes to bring up their info</p>
                <hr />
                <p>Map: Springwater</p>
                <p>Defense Structures: {{this.counts.defense}}/6</p>
                <p>Traps: {{this.counts.traps}}/4</p>
                <p>Decorations: {{this.counts.decorations}}/4</p>
                <p>Heroes: {{this.units.length}}/6</p>
                <p>Max Lift Loss: -{{this.currentLiftLoss}}</p>
                <hr />
                <p>Defense Season: 
                    <mat-button-toggle-group aria-label="Blessing" value="6" [formControl]="season">
                        <mat-button-toggle value="6" matTooltip="Dark Season"><img src="assets/ui/dark_blessing.png"></mat-button-toggle>
                        <mat-button-toggle value="8" matTooltip="Anima Season"><img src="assets/ui/anima_blessing.png"></mat-button-toggle>
                    </mat-button-toggle-group>
                </p>
            </mat-card>
            <mat-card class="save_actions">
                <div class="action-buttons">
                    <button mat-raised-button color="primary" (click)="openSaveDialog()" style="width:40%;"><mat-icon>save icon</mat-icon> Save/Load</button>
                    <button mat-raised-button color="primary" (click)="exportData()" style="width:40%;"><mat-icon>save_alt</mat-icon> Export</button>
                </div>
                <div class="action-buttons" style="margin-top: 8px;">
                    <button mat-raised-button color="primary" (click)="getLink()" style="width:40%;"><mat-icon>link</mat-icon> Share Link</button>
                    <button mat-raised-button color="primary" (click)="openSaveImageDialog()" style="width:40%;"><mat-icon>image</mat-icon> Save Image</button>
                </div>
                <div class="action-buttons" style="margin-top: 8px;">
                    <button mat-raised-button color="primary" (click)="openSettingsDialog()" style="width:40%;"><mat-icon>settings icon</mat-icon> Settings</button>
                    <button mat-raised-button color="warn" (click)="deleteCurrentData()" style="width:40%;"><mat-icon>clear</mat-icon> Clear</button>
                </div>
            </mat-card>
        </div>
        <div class="ar_builder_left_container ar_builder_child_container">
            <div class="ar_builder_map_container">
                <canvas id="dangerRange" height="600" width="450" #rangeCanvas></canvas>
                <canvas id="dragRange" height="600" width="450" #dragCanvas></canvas>
                <canvas id="mapGrid" height="600" width="450" #gridCanvas></canvas>
                <img class="ar_builder_map" [src]="'assets/maps/AR/'+this.currentMap+'.png'">
                <div class="ar_builder_overlay"> <!-- AR Defense Map -->
                    <ng-container *ngFor="let tile of map; let i = index">
                        <div class="map-item" cdkDropList cdkDropListOrientation="horizontal" [cdkDropListData]="{item:tile, index:i}" (cdkDropListDropped)="drop($event)" (cdkDropListEntered)="dragEnter(tile, i)" (cdkDropListExited)="dragExit(tile, i)" (click)="openDescription(tile)">
                            <div class="inner" cdkDrag cdkDragBoundary=".ar_builder_map_container" [cdkDragDisabled]="tile.type === 'blank'" (pointerdown)="startDragRange(tile, i)" (pointerup)="stopDragRange()">
                                <div class="placeholder" *cdkDragPlaceholder></div>
                                <img [src]="'assets/ui/weapon/'+getWeaponType(tile.uid)+'.png'" class="ar_building_unit_type" *ngIf="tile.type === 'hero'">
                                <img [src]="'assets/ui/movement/'+getMovementType(tile.uid)+'.png'" class="ar_building_movement_type" *ngIf="tile.type === 'hero'">
                                <img [src]="'assets/'+tile.folder+'/'+tile.image+'.png'" class="ar_building">
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
            <mat-card>
                <button mat-raised-button color="primary" (click)="openHeroesDialog()">Add Heroes</button>
                <button mat-raised-button color="primary" (click)="openStructuresDialog()">Edit Structures</button>
                <button mat-raised-button color="primary" (click)="openTerrainDialog()">Change Terrain</button>
            </mat-card>
        </div>
        <div class="ar_builder_right_container ar_builder_child_container">
            <mat-card class="hero_info_card" *ngIf="this.currentlyDisplayedHero" style="margin-bottom: 10px;">
                <div class="hero_info_title">
                    <div class="hero_info_title_image">
                        <img [src]="'assets/units/'+this.currentlyDisplayedHero.image+'.png'">
                    </div>
                    <div class="hero_info_title_title">
                        <mat-card-title>{{this.currentlyDisplayedHero.name}}: {{this.currentlyDisplayedHero.title}}</mat-card-title>
                        <img src="assets/ui/star_gold.png" *ngFor="let i of [0,0,0,0,0]">
                    </div>
                </div>
                <hr />
                <div class="hero_info_tables">
                    <table>
                        <colgroup>
                            <col class="col_1" />
                            <col class="col_2" />
                        </colgroup>
                        <tr>
                            <td>Level 40<span *ngIf="this.currentlyDisplayedHero.build.merges > 0">+{{this.currentlyDisplayedHero.build.merges}}</span></td>
                            <td style="background-color:#ff859a">
                                <div class="skill_box">
                                    <div class="skill_container_small">
                                        <img src="assets/ui/generic_weapon.png" class="skill_icon_small skill_icon_small_empty" *ngIf="!this.currentlyDisplayedHero.build.skills.weapon">
                                        <img [matTooltip]="this.currentlyDisplayedHero.build.skills.weapon.name" [src]="'assets/skills/'+this.currentlyDisplayedHero.build.skills.weapon.image+'.png'" class="skill_icon_small skill_icon_small" *ngIf="this.currentlyDisplayedHero.build.skills.weapon">
                                    </div>
                                    &nbsp;{{this.currentlyDisplayedHero.build.skills.weapon ? this.currentlyDisplayedHero.build.skills.weapon.name : "-"}}    
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="dragonflower_box">
                                    DF: {{this.currentlyDisplayedHero.build.dragonflowers}}
                                    <img class="dragonflower_icon" [src]="'assets/ui/'+MovementEnum[this.currentlyDisplayedHero.movement_type]+'_dragonflower.png'">
                                </div>
                            </td>
                            <td style="background-color:#7dff88">
                                <div class="skill_box">
                                    <div class="skill_container_small">
                                        <img src="assets/ui/generic_assist.png" class="skill_icon_small skill_icon_small_empty">
                                        <img [matTooltip]="this.currentlyDisplayedHero.build.skills.assist.name" *ngIf="this.currentlyDisplayedHero.build.skills.assist" src="assets/ui/generic_assist.png" class="skill_icon_small skill_icon_small_empty">
                                    </div>
                                    &nbsp;{{this.currentlyDisplayedHero.build.skills.assist ? this.currentlyDisplayedHero.build.skills.assist.name : "-"}}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td [ngClass]="{'bold_boon': this.currentlyDisplayedHero.build.ivs.boon === 1, 'bold_bane': this.currentlyDisplayedHero.build.ivs.bane === 1 && this.currentlyDisplayedHero.build.merges === 0}">HP: {{this.currentlyDisplayedHeroStats.hp}}</td>
                            <td style="background-color:#df7dff">
                                <div class="skill_box">
                                    <div class="skill_container_small">
                                        <img src="assets/ui/generic_special.png" class="skill_icon_small skill_icon_small_empty">
                                        <img [matTooltip]="this.currentlyDisplayedHero.build.skills.special.name" *ngIf="this.currentlyDisplayedHero.build.skills.special" src="assets/ui/generic_special.png" class="skill_icon_small skill_icon_small_empty">
                                    </div>
                                    &nbsp;{{this.currentlyDisplayedHero.build.skills.special ? this.currentlyDisplayedHero.build.skills.special.name : "-"}}    
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td [ngClass]="{'bold_boon': this.currentlyDisplayedHero.build.ivs.boon === 2, 'bold_bane': this.currentlyDisplayedHero.build.ivs.bane === 2 && this.currentlyDisplayedHero.build.merges === 0}">ATK: {{this.currentlyDisplayedHeroStats.atk}}</td>
                            <td>
                                <div class="skill_box">
                                    <div class="skill_container_small">
                                        <img src="assets/ui/empty_skill.png" class="skill_icon_small skill_icon_small_empty" *ngIf="!this.currentlyDisplayedHero.build.skills.a">
                                        <img [matTooltip]="this.currentlyDisplayedHero.build.skills.a.name" [src]="'assets/skills/'+this.currentlyDisplayedHero.build.skills.a.image+'.png'" class="skill_icon_small" *ngIf="this.currentlyDisplayedHero.build.skills.a">
                                        <img src="assets/ui/a.png" class="skill_icon_small_type">
                                    </div>
                                    &nbsp;{{this.currentlyDisplayedHero.build.skills.a ? this.currentlyDisplayedHero.build.skills.a.name : "-"}}    
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td [ngClass]="{'bold_boon': this.currentlyDisplayedHero.build.ivs.boon === 3, 'bold_bane': this.currentlyDisplayedHero.build.ivs.bane === 3 && this.currentlyDisplayedHero.build.merges === 0}">SPD: {{this.currentlyDisplayedHeroStats.spd}}</td>
                            <td>
                                <div class="skill_box">
                                    <div class="skill_container_small">
                                        <img src="assets/ui/empty_skill.png" class="skill_icon_small skill_icon_small_empty" *ngIf="!this.currentlyDisplayedHero.build.skills.b">
                                        <img [matTooltip]="this.currentlyDisplayedHero.build.skills.b.name" [src]="'assets/skills/'+this.currentlyDisplayedHero.build.skills.b.image+'.png'" class="skill_icon_small" *ngIf="this.currentlyDisplayedHero.build.skills.b">
                                        <img src="assets/ui/b.png" class="skill_icon_small_type">
                                    </div>
                                    &nbsp;{{this.currentlyDisplayedHero.build.skills.b ? this.currentlyDisplayedHero.build.skills.b.name : "-"}}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td [ngClass]="{'bold_boon': this.currentlyDisplayedHero.build.ivs.boon === 4, 'bold_bane': this.currentlyDisplayedHero.build.ivs.bane === 4 && this.currentlyDisplayedHero.build.merges === 0}">DEF: {{this.currentlyDisplayedHeroStats.def}}</td>
                            <td>
                                <div class="skill_box">
                                    <div class="skill_container_small">
                                        <img src="assets/ui/empty_skill.png" class="skill_icon_small skill_icon_small_empty" *ngIf="!this.currentlyDisplayedHero.build.skills.c">
                                        <img [matTooltip]="this.currentlyDisplayedHero.build.skills.c.name" [src]="'assets/skills/'+this.currentlyDisplayedHero.build.skills.c.image+'.png'" class="skill_icon_small" *ngIf="this.currentlyDisplayedHero.build.skills.c">
                                        <img src="assets/ui/c.png" class="skill_icon_small_type">
                                    </div>
                                    &nbsp;{{this.currentlyDisplayedHero.build.skills.c ? this.currentlyDisplayedHero.build.skills.c.name : "-"}}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td [ngClass]="{'bold_boon': this.currentlyDisplayedHero.build.ivs.boon === 5, 'bold_bane': this.currentlyDisplayedHero.build.ivs.bane === 5 && this.currentlyDisplayedHero.build.merges === 0}">RES: {{this.currentlyDisplayedHeroStats.res}}</td>
                            <td>
                                <div class="skill_box">
                                    <div class="skill_container_small">
                                        <img src="assets/ui/empty_seal.png" class="skill_icon_small skill_icon_small_empty" *ngIf="!this.currentlyDisplayedHero.build.skills.s">
                                        <img [matTooltip]="this.currentlyDisplayedHero.build.skills.s.name" [src]="'assets/skills/'+this.currentlyDisplayedHero.build.skills.s.image+'.png'" class="skill_icon_small" *ngIf="this.currentlyDisplayedHero.build.skills.s">
                                        <img src="assets/ui/s.png" class="skill_icon_small_type">
                                    </div>
                                    &nbsp;{{this.currentlyDisplayedHero.build.skills.s ? this.currentlyDisplayedHero.build.skills.s.name : "-"}}   
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">Blessing: {{BlessingEnum[this.currentlyDisplayedHero.build.blessing]|titlecase}}</td>
                        </tr>
                    </table>
                    <button class="edit_build_button" mat-raised-button color="primary" (click)="openEditBuildDialog()">Edit Build</button>
                </div>
                <hr />
                <p>Note*: Stats include bonuses from skills and current mythic/legendary allies.</p>
            </mat-card>
            <mat-card *ngIf="currentlyDisplayedStructure">
                <mat-card-title><img class="unit_icon_tiny" [src]="'assets/aether_raids/'+this.currentlyDisplayedStructure.image+'.png'"> {{this.currentlyDisplayedStructure.display}}</mat-card-title>
                <hr />
                <p>Description: {{this.currentlyDisplayedStructure.description}}</p>
                <p>Build/Upgrade Cost: <span *ngFor="let cost of this.currentlyDisplayedStructure.cost; let i = index">{{cost}}<span *ngIf="i + 1 < this.currentlyDisplayedStructure.cost.length">/</span></span> <img class="unit_icon_tiny" [src]="'assets/ui/'+this.currentlyDisplayedStructure.costType+'.png'"></p>
            </mat-card>
        </div>
    </div>
</div>