<header>
    <button mat-button>Home</button>
    <button mat-button routerLink="/ar-builder">AR-D Builder</button>
</header>
<router-outlet></router-outlet>
<footer>
    <p>v{{version}}</p>
    <div class="footer_buttons">
        <button mat-button>Report a Bug / Request a Feature</button>
        <button mat-button><a href="https://discord.gg/z9YSeEqzg4" target="_blank"><img src="assets/ui/discord.png" alt="Discord"></a></button>
    </div>
    <!-- <button mat-button routerLink="https://discord.gg/z9YSeEqzg4"><img src="assets/ui/discord.png" alt="Discord"></button> -->
</footer>