$header_footer: rgb(56, 56, 56);

header{
    top: 0px;
    left: 0px;
    height: 50px;
    width: 100%;
    background-color: $header_footer;
    p{
        font-size: 14px;
        font-weight: 500;
        margin: 0;
    }
    display: flex;
    align-items: center;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
}

footer{
    padding-right: 20px;
    padding-left: 20px;
    box-sizing: border-box;
    color: white;
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 0px;
    left: 0px;
    height: 50px;
    width: 100%;
    background-color: $header_footer;
    p{
        font-size: 14px;
        font-weight: 500;
        margin: 0;
    }
    .footer_buttons{
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        button{
            // margin-top: 2.5px;
            height: 36px;
            margin-left: 10px;
            a{
                img{
                    height: 30px;
                    margin-top: 3px;
                }   
            }
        }
    }
}
header {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    button{
        color: white;
        float: left;
        margin-left: 10px;
    }
}

@media only screen and (max-width: 600px){
    footer{
        position: initial;
        padding: 0;
        align-items: initial;
        height: auto;
        p{
            display: none;
        }
        .footer_buttons{
            width: 100%;
            flex-wrap: wrap;
            button{
                height: 50px;
                width: 100%;
                margin-left: 0px;
                a{
                    width: 100%;
                    img{
                        height: 36px;
                        margin-top: 7px;
                    }   
                }
            }
        }
    }
}