.ar-structures-table{
    display: flex;
    flex-wrap: wrap;
    .building-container{
        position: relative;
        .ar_building{
            cursor: pointer;
            border: 3px solid transparent;
            margin: 1px;
        }
        .ar_building_checkmark{
            position: absolute;
            height: 25px;
            width: 25px;
            top: -7px;
            left: -7px;
        }
    }
}


h2{
    margin: 5px;
}

#dialog_close{
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 24px;
    &:hover{
        background-color: lightgrey;
    }
}

::ng-deep mat-dialog-container{
    position: relative !important;
}