.ar-structures-table{
    display: flex;
    flex-wrap: wrap;
    .building-container{
        position: relative;
        .ar_building{
            cursor: pointer;
            border: 3px solid transparent;
            margin: 1px;
        }
        .ar_building_checkmark{
            position: absolute;
            height: 25px;
            width: 25px;
            top: -7px;
            left: -7px;
        }
    }
}