<span id="dialog_close" (click)="this.close()" class="material-icons">close</span>
<div class="selected_heroes_container">
    <div class="selected_hero" *ngFor="let i of [0,1,2,3,4,5]">
        <img src="assets/ui/hero-selector.png">
        <img class="hero" [src]="'assets/units/'+this.selectedHeroes[i].id+'.png'" *ngIf="this.selectedHeroes.length > i">
        <img class="remove_icon" src="assets/ui/x.png" *ngIf="this.selectedHeroes.length > i" (click)="removeHero(i)">
    </div>
</div>
<hr />
<form [formGroup]="heroFilter">
    <mat-form-field>
        <input matInput name="name" formControlName="name" placeholder="Hero Name" (keyup)="updateFilter()">
    </mat-form-field>
    <br />
    <mat-button-toggle-group formControlName="blessing" value="0" aria-label="Blessing" (change)="updateFilter()">
        <mat-button-toggle value="0" matTooltip="No Blessing"><div class="blank_filler"></div></mat-button-toggle>
        <mat-button-toggle value="6" matTooltip="Dark Mythic"><img src="assets/ui/dark_blessing.png"></mat-button-toggle>
        <mat-button-toggle value="8" matTooltip="Anima Mythic"><img src="assets/ui/anima_blessing.png"></mat-button-toggle>
        <mat-button-toggle value="2" matTooltip="Water Legendary"><img src="assets/ui/water_blessing.png"></mat-button-toggle>
        <mat-button-toggle value="3" matTooltip="Wind Legendary"><img src="assets/ui/wind_blessing.png"></mat-button-toggle>
        <mat-button-toggle value="4" matTooltip="Earth Legendary"><img src="assets/ui/earth_blessing.png"></mat-button-toggle>
        <mat-button-toggle value="1" matTooltip="Fire Legendary"><img src="assets/ui/fire_blessing.png"></mat-button-toggle>
    </mat-button-toggle-group>
</form>
<div class="hero_icons_container">
    <div class="hero_icons">
        <div *ngFor="let hero of heroList[pageNumber]">
            <img [src]="'assets/units/'+hero.id+'.png'" [matTooltip]='hero.name + ": " + hero.title' (click)="addHero(hero)">
        </div>
    </div>
    <mat-paginator (page)="changePage($event)" [pageIndex]="pageNumber" [length]="baseList.length" pageSize="25"></mat-paginator>
</div>