#dialog_close{
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 24px;
    &:hover{
        background-color: lightgrey;
    }
}

::ng-deep mat-dialog-container{
    position: relative !important;
}

h2.title{
    margin: 5px;
    font-size: 24px;
    font-weight: 500;
}

.hero_select{
    display: flex;
    align-items: center;
    justify-content: center;
}


.selected_heroes{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.selected_hero{
    position: relative;
    height: 55px;
    width: 55px;
    margin-bottom: 5px;
    p{
        z-index: 2;
        position: absolute;
        font-family: "Fire_Emblem_Heroes_Font";
        font-size: 12px;
        text-align: center;
        color: white;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        width: 55px;
        line-height: 55px;
        margin: 0;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }
    img{
        z-index: 1;
        position: relative;
        height: 55px;
        width: 55px;
    }
    img.selected_hero_icon{
        z-index: 3;
        position: absolute;
        height: 51px;
        width: 51px;
        left: 2px;
        top: 2px;
    }
    img.blessing_background{
        position: absolute;
        z-index: 0;
        top: 5px;
        left: 5px;
        height: 45px;
        width: 45px;
    }

    img.remove_hero_icon{
        z-index: 4;
        position: absolute;
        height: 20px;
        width: 20px;
        top: -5px;
        right: -5px;
    }
}

.mat-dialog-content{
    max-height: 100%;
    overflow: visible;
}

mat-button-toggle img{
    height: 35px;
}

mat-button-toggle div{
    height: 35px;
    width: 35px;
}

.hero_filter{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 450px){
    .selected_hero{
        height: 40px;
        width: 40px;
        p{
            font-size: 10px;
            width: 40px;
            line-height: 40px;
        }
        img{
            height: 40px;
            width: 40px;
        }
        img.selected_hero_icon{
            height: 36px;
            width: 36px;
            left: 2px;
            top: 2px;
        }
        img.blessing_background{
            top: 5px;
            left: 5px;
            height: 30px;
            width: 30px;
        }
    
        img.remove_hero_icon{
            height: 15px;
            width: 15px;
            top: -3px;
            right: -3px;
        }
    }
}