table{
    box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%);
    // border: 1px solid grey;
    border-radius: 4px;
    border-spacing: 0;
    tr:first-child{
        height: 50px;
    }
    tr:not(:last-child){
        // border-bottom: 0px solid grey;
        td{
            border-bottom: 1px solid rgb(206, 206, 206);
        }
    }
    td{
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        // min-width: 100px;
        mat-button{
            min-width: unset!important;
        }
    }
}

mat-card{
    width: 900px;
    text-align: center;
}

.add-button{
    min-width: unset!important;
    border-radius: 0px; width: 30px !important; padding: 0px !important;
    line-height: 30px;
}

.col-1{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    padding-bottom: 60px;
}