@font-face{
    font-family: "Fire_Emblem_Heroes_Font";
    src: url('assets/fonts/Fire_Emblem_Heroes_Font.woff2'),
    url('assets/fonts/Fire_Emblem_Heroes_Font.woff'),
    url('assets/fonts/Fire_Emblem_Heroes_Font.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: normal;
}