<div class="hero_info_title">
    <div class="hero_info_title_title">
        <mat-card-title>Edit Build - Reinhardt: {{this.heroData.title}}</mat-card-title>
        <img [src]="'assets/ui/star_'+i+'.png'" *ngFor="let i of rarities[this.heroData.build.rarity]">
    </div>
</div>
<hr />
<form [formGroup]="heroBuild">
    <mat-form-field>
        <mat-label>Hero</mat-label>
        <mat-select formControlName="hero">
            <mat-option>
                <ngx-mat-select-search [formControl]="hero_name_filter" placeholderLabel="Search" noEntriesFoundLabel="No Heroes Found"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let unit of units | stringFilterBy:hero_name_filter.value:'name'" [value]="unit.id">
                Reinhardt: {{unit.title}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Merges</mat-label>
        <mat-select formControlName="merges" (selectionChange)="updateMerges()">
            <mat-option *ngFor="let merge of [0,1,2,3,4,5,6,7,8,9,10]" [value]="merge">+{{merge}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Rarity</mat-label>
        <mat-select formControlName="rarity">
            <mat-option *ngFor="let i of [3,4,5]" [value]='i'>{{i}}&#9733;</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Dragonflowers</mat-label>
        <mat-select formControlName="dragonflowers">
            <mat-option *ngFor="let dragonflower of dragonflowers" [value]="dragonflower">{{dragonflower}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Resplendent</mat-label>
        <mat-select formControlName="resplendent">
            <mat-option *ngFor="let val of ['Off/Unavailable', 'On']" [value]="val === 'On'">{{val}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Blessing</mat-label>
        <mat-select formControlName="blessing">
            <mat-option *ngFor="let blessing of [0,1,2,3,4,5,6,7,8]" [value]="blessing"><!--<img *ngIf="blessing !== 0" [src]="'assets/ui/'+BlessingEnum[blessing]+'_blessing.png'">--> {{BlessingEnum[blessing]|titlecase}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Asset</mat-label>
        <mat-select formControlName="boon">
            <mat-option *ngFor="let iv of [0,1,2,3,4,5]" [value]="iv">{{IVEnum[iv]|titlecase}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Flaw</mat-label>
        <mat-select formControlName="bane">
            <mat-option *ngFor="let iv of [0,1,2,3,4,5]" [value]="iv">{{IVEnum[iv]|titlecase}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Weapon</mat-label>
        <mat-select formControlName="weapon" (selectionChange)="updateRefines()">
            <mat-option>
                <ngx-mat-select-search [formControl]="weapon_name_filter" placeholderLabel="Search" noEntriesFoundLabel="No Weapons Found"></ngx-mat-select-search>
            </mat-option>
            <mat-option>None</mat-option>
            <mat-option *ngFor="let weapon of skills[0] | stringFilterBy:weapon_name_filter.value:'name' | heroSkillFilterBy:this.heroBuild.getRawValue()['hero']" [value]="weapon.id">{{weapon.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Refine</mat-label>
        <mat-select formControlName="refine">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let refine of refines" [value]="refine.id">{{refine.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Assist</mat-label>
        <mat-select formControlName="assist">
            <mat-option>
                <ngx-mat-select-search [formControl]="assist_name_filter" placeholderLabel="Search" noEntriesFoundLabel="No Assists Found"></ngx-mat-select-search>
            </mat-option>
            <mat-option>None</mat-option>
            <mat-option *ngFor="let assist of skills[1] | stringFilterBy:assist_name_filter.value:'name' | heroSkillFilterBy:this.heroBuild.getRawValue()['hero']" [value]="assist.id">{{assist.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Special</mat-label>
        <mat-select formControlName="special">
            <mat-option>
                <ngx-mat-select-search [formControl]="special_name_filter" placeholderLabel="Search" noEntriesFoundLabel="No Specials Found"></ngx-mat-select-search>
            </mat-option>
            <mat-option>None</mat-option>
            <mat-option *ngFor="let special of skills[2] | stringFilterBy:special_name_filter.value:'name' | heroSkillFilterBy:this.heroBuild.getRawValue()['hero']" [value]="special.id">{{special.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>A Skill</mat-label>
        <mat-select formControlName="a">
            <mat-option>
                <ngx-mat-select-search [formControl]="a_name_filter" placeholderLabel="Search" noEntriesFoundLabel="No A Skills Found"></ngx-mat-select-search>
            </mat-option>
            <mat-option>None</mat-option>
            <mat-option *ngFor="let a of skills[3] | stringFilterBy:a_name_filter.value:'name' | heroSkillFilterBy:this.heroBuild.getRawValue()['hero']" [value]="a.id">{{a.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>B Skill</mat-label>
        <mat-select formControlName="b">
            <mat-option>
                <ngx-mat-select-search [formControl]="b_name_filter" placeholderLabel="Search" noEntriesFoundLabel="No B Skills Found"></ngx-mat-select-search>
            </mat-option>
            <mat-option>None</mat-option>
            <mat-option *ngFor="let b of skills[4] | stringFilterBy:b_name_filter.value:'name' | heroSkillFilterBy:this.heroBuild.getRawValue()['hero']" [value]="b.id">{{b.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>C Skill</mat-label>
        <mat-select formControlName="c">
            <mat-option>
                <ngx-mat-select-search [formControl]="c_name_filter" placeholderLabel="Search" noEntriesFoundLabel="No C Skills Found"></ngx-mat-select-search>
            </mat-option>
            <mat-option>None</mat-option>
            <mat-option *ngFor="let c of skills[5] | stringFilterBy:c_name_filter.value:'name' | heroSkillFilterBy:this.heroBuild.getRawValue()['hero']" [value]="c.id">{{c.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Seal</mat-label>
        <mat-select formControlName="seal">
            <mat-option>
                <ngx-mat-select-search [formControl]="seal_name_filter" placeholderLabel="Search" noEntriesFoundLabel="No Seals Found"></ngx-mat-select-search>
            </mat-option>
            <mat-option>None</mat-option>
            <mat-option *ngFor="let seal of skills[6] | stringFilterBy:seal_name_filter.value:'name' | heroSkillFilterBy:this.heroBuild.getRawValue()['hero']" [value]="seal.id">{{seal.name}}</mat-option>
        </mat-select>
    </mat-form-field>
</form>