h2, h3{
    margin: 5px;
}

#dialog_close{
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 24px;
    &:hover{
        background-color: lightgrey;
    }
}

::ng-deep .save-image-dialog-panel{
    mat-dialog-container{
        position: relative !important;
        padding: 0 !important;
    }
}

.settings_container{
    padding: 24px;
    padding-bottom: 0px;
}


form{
    width: 402px;
    flex-wrap: wrap;
    display: flex;
    justify-content: left;
    mat-checkbox{
        margin-right: 5px;
    }
}

.options_container{
    width: 402px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    // a{
    //     height: 100%;
    // }
}

.options_container_container{
    display: flex;
    width: 100%;
    justify-content: center;
}

.loading_modal{
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    p{
        color: white;
        font-family: 'Fire_Emblem_Heroes_Font', 'Roboto';
    }
}

.save_image_canvases{
    position: relative;
    height: 700px;
    width: 450px;
    canvas{
        position: absolute;
        top: 0;
        left: 0;
    }
    img{
        position: absolute;
        top: 0;
        left: 0;
    }

    #bottomCanvas{
        z-index: 1;
    }
    #buildsCanvas{
        z-index: 2;
    }
    #mapImage{
        z-index: 2;
    }
    #statsCanvas{
        z-index: 2;
    }
    #watermarkCanvas{
        z-index: 3;
    }
    #seasonMaxLossCanvas{
        z-index: 3;
    }
    #tileCanvas{
        z-index: 3;
    }
    #movCanvas{
        z-index: 4;
    }
    #wepCanvas{
        z-index: 4;
    }

}