table{
    border-collapse: collapse;
    td, th {
        border: 2px solid grey;
        padding: 10px;
        img{
            vertical-align: middle;
        }
    }
    td{
        font-size: 0.8em;
    }
}