h2{
    margin: 5px;
}

#dialog_close{
    position: absolute;
    line-height: 40px;
    text-align: center;
    width: 40px;
}


.dialog-close{
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color: #3f51b5;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(30%, -30%);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    color: white;
    &:hover{
        background-color: #616eb6;
    }
}

::ng-deep mat-dialog-container{
    position: relative !important;
    overflow: visible !important;
}

form{
    display: flex;
    justify-content: space-evenly;
    // mat-checkbox{
    //     margin-right: 20px;
    // }
}